<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/NO-Header-Role-%20Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Import pandas

In [2]:
import pandas as pd

# Install pandas if not already installed
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# Working with CSV files:
Load a mnist_test.csv file into a dataframe - labelled as df

In [3]:
df = pd.read_csv('People_data_noheader.csv')

Show the first 5 lines of the csv file.

In [4]:
df.head(10)

      Alan    Rivera  44  60767 Therapist, speech and language   5'2"
0  Melissa     Russo  30  33327      Psychologist, counselling   6'6"
1  Jeffrey     Dixon  20  29301             Investment analyst   6'3"
2     Gina    Garner  32  73117                        Curator   6'0"
3     Ruth   Johnson  28  76795        Education administrator   6'1"
4     Mark     White  29  31033           Merchandiser, retail   5'5"
5  Jessica     Roman  32  50843  Operational investment banker   5'9"
6  Vincent  Gallegos  25  59128               Therapist, music   6'0"
7   Austin    Taylor  41  46034                   Nurse, adult   5'8"
8    Julie   Hoffman  29  47075                  Advice worker  5'11"
9    Tammy   Holland  24  76544         Pension scheme manager   5'9"

Modify the above line of code to show the first 15 lines of the dataframe.
Modify the above line of code to shwo the last 15 lines of the dataframe

Question:<br/>What do you observe about the data?

Load the same data into a new dataframe with default column names

In [4]:
df_nh = pd.read_csv('People_data_noheader.csv', header=None)

In [5]:
df_nh.head()

         0        1   2      3                               4     5
0     Alan   Rivera  44  60767  Therapist, speech and language  5'2"
1  Melissa    Russo  30  33327       Psychologist, counselling  6'6"
2  Jeffrey    Dixon  20  29301              Investment analyst  6'3"
3     Gina   Garner  32  73117                         Curator  6'0"
4     Ruth  Johnson  28  76795         Education administrator  6'1"

Load the data with PreSet assigned Column Names:

In [6]:
headers = ["Firstname", "Surname", "age", "salary", "occupation", "height"]
df_headers = pd.read_csv('People_data_noheader.csv', names=headers)

df_headers.head(10)

  Firstname   Surname  age  salary                      occupation height
0      Alan    Rivera   44   60767  Therapist, speech and language   5'2"
1   Melissa     Russo   30   33327       Psychologist, counselling   6'6"
2   Jeffrey     Dixon   20   29301              Investment analyst   6'3"
3      Gina    Garner   32   73117                         Curator   6'0"
4      Ruth   Johnson   28   76795         Education administrator   6'1"
5      Mark     White   29   31033            Merchandiser, retail   5'5"
6   Jessica     Roman   32   50843   Operational investment banker   5'9"
7   Vincent  Gallegos   25   59128                Therapist, music   6'0"
8    Austin    Taylor   41   46034                    Nurse, adult   5'8"
9     Julie   Hoffman   29   47075                   Advice worker  5'11"

In [7]:
# prompt: calculate the average salary

# Calculate the average salary
average_salary = df_headers['salary'].mean()
print(f"The average salary is: {average_salary}")

The average salary is: 52345.2596

Modify the code to calculate the average age / median age / median salary

How would you calculate a average height?

In [8]:
# prompt: count the number of peopel that have hte same ocuupation

import pandas as pd

# Assuming df_headers is already defined as in the previous code

occupation_counts = df_headers['occupation'].value_counts()
occupation_counts

occupation
Lecturer, further education    11
Museum/gallery conservator     11
Microbiologist                 11
Occupational therapist         11
Copy                           10
                               ..
Chief Technology Officer        1
Psychologist, clinical          1
Artist                          1
Buyer, retail                   1
Metallurgist                    1
Name: count, Length: 618, dtype: int64

In [12]:

# Export occupation counts to a CSV file
occupation_counts.to_csv('occupation_counts.csv')

In [11]:
# prompt: count the number of metallugists

# Count the number of metallurgists
num_metallurgists = len(metallurgists)
print(f"\nThe number of metallurgists is: {num_metallurgists}")

The number of metallurgists is: 1

In [10]:
# prompt: selet all people tath are metallurgist and calucalte average salary

# Assuming df_headers is already defined as in the previous code

# Select all metallurgists
metallurgists = df_headers[df_headers['occupation'] == 'Metallurgist']

# Calculate the average salary for metallurgists
average_salary_metallurgists = metallurgists['salary'].mean()

print(f"The average salary for metallurgists is: {average_salary_metallurgists}")

# Display the metallurgists' data
print("\nMetallurgists Data:")
metallurgists

The average salary for metallurgists is: 75261.0

Metallurgists Data:

     Firstname   Surname  age  salary    occupation height
2454   Cynthia  Davidson   34   75261  Metallurgist   5'1"