<a href="https://colab.research.google.com/github/p-tech/wbs-dm/blob/main/Merge_Join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Merge in python: Simple example

In [2]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [24, 30, 28]
})

# Perform an inner merge on the 'ID' column
result = pd.merge(df1, df2, on='ID', how='inner')
print("inner")
print(result)

inner
   ID     Name  Age
0   2      Bob   24
1   3  Charlie   30

In [3]:
# Perform an inner merge on the 'ID' column
result = pd.merge(df1, df2, on='ID', how='outer')
print("Outer")
print(result)

Outer
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  24.0
2   3  Charlie  30.0
3   4      NaN  28.0

In [4]:
# Perform an inner merge on the 'ID' column
result = pd.merge(df1, df2, on='ID', how='left')
print("left")
print(result)

left
   ID     Name   Age
0   1    Alice   NaN
1   2      Bob  24.0
2   3  Charlie  30.0

In [5]:
# Perform an inner merge on the 'ID' column
result = pd.merge(df1, df2, on='ID', how='right')
print("inner")
print(result)

inner
   ID     Name  Age
0   2      Bob   24
1   3  Charlie   30
2   4      NaN   28

Join in Python

In [6]:
df3 = pd.DataFrame({
    'Age': [24, 30, 28]
}, index=[2, 3, 4])

df4 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie']
}, index=[1, 2, 3])

# Perform a left join using the index
result = df4.join(df3, how='left')
print(result)

      Name   Age
1    Alice   NaN
2      Bob  24.0
3  Charlie  30.0

In [7]:
# Perform a left join using the index
result = df4.join(df3, how='right')
print(result)

      Name  Age
2      Bob   24
3  Charlie   30
4      NaN   28

In [8]:
# Perform a left join using the index
result = df4.join(df3, how='inner')
print(result)

      Name  Age
2      Bob   24
3  Charlie   30

In [9]:
# Perform a left join using the index
result = df4.join(df3, how='outer')
print(result)

      Name   Age
1    Alice   NaN
2      Bob  24.0
3  Charlie  30.0
4      NaN  28.0